# Core Framework
streamlit
watchdog
argon2-cffi

# Network Science & Math
networkx
scipy
numpy
pandas

# Visualization (Add streamlit-agraph here)
streamlit-agraph
pyvis
matplotlib
streamlit-option-menu
plotly